{% extends 'places/base.html' %}

{% block title %}
Усі місця - PlacesToGO
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4">Усі мої місця</h1>

        {% if places %}
            <p>Тут будуть ваші місця</p>
        {% else %}
            <div class="text-center">
                <p>У вас ще немає доданих місць.</p>
                <a href="/add_place/" class="btn btn-primary">Додати перше місце</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}